*{
    border: 0;
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;  
}
body{
    background: linear-gradient(to left, gray, rgb(49, 31, 49));           
}
.titulo{
    text-align: center;
    color: white;
    font-size: 20pt;
}
#principal{
    transform:translatex(0px) translatey(-10px);
    font-size: 15pt;
    width: 650px; /*largura*/
    margin: auto;
    background-color: rgba(0, 0, 0, 0.521);
    padding-top: 1px;
    margin-bottom: 0px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
} 
.div-centro{
    font-size: 15pt;
    border-radius: 5px;
    color: white;
    padding: 15px;
    width: 600px;
    margin: auto;
}

.texto{
    font-size: 15pt;
    background-color: rgba(228, 210, 210, 0.274);
    color: white;
    border-radius: 5px;
    margin: 5px 30px 5px 30px;
    text-align: justify;
    padding: 0px 10px 0px 10px;
}

.quadrado-1, .quadrado-2, .quadrado-3 {
    border-radius: 5px;
    font-size: 12pt;
    cursor: pointer;
}

.btn-calcular{
    width: 70px;
    padding: 5px;
    font-size: 14pt;
    border-radius: 5px;
    cursor: pointer;
    
}
.btn-limpar{
    width: 70px;
    padding: 5px;
    font-size: 14pt;
    border-radius: 5px;  
    cursor: pointer;
    margin-left: 30px;
}
.btn-calcular:hover{
    background-color: rgb(117, 114, 115);
}
.btn-limpar:hover{
    background-color: rgb(117, 114, 115);
}
/* quando voce aperta no bota ele vai abaixar */
.btn-calcular:active{
    position: relative;
    top: 5px;
}
.btn-limpar:active{
    position: relative;
    top: 5px;
}
 /* coloca sublinhado nos */
.style{
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}
#principal .div-centro div{
    transform:translatex(-5px) translatey(-40px);
    padding-bottom:0px;
   }
   
   /* Heading */
   #principal h2{
    transform:translatex(0px) translatey(-9px);
   }

   #principal .texto{
    transform:translatex(0px) translatey(-4px);
   }
   #principal .div-centro div{
    transform:translatex(-3px) translatey(-41px);
   }
   #principal .div-centro{
    height:283px;
   }
   
 
   
   
